body {
    font-family: 'Roboto', 'Open Sans', sans-serif;
}

/*MENU NAVS*/
.menu-top {
    background-color: #222222;
    display: flow-root;
}
    .menu-top .menu-left a {
        color: white;
        text-decoration: none;
    }

.menu-accesos {
    background-color: #eaa731;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
    .menu-accesos .menu-left{
        font-size: x-large;
    }

    .menu-accesos .menu-left img{
        width: 100%;
        height: 100%;
    }

    .menu-accesos .menu-left .logo-text1{
        color: #3a2312;
        font-weight: 800;
    }

    .menu-accesos .menu-left .logo-text2{
        color: white;
        font-weight: 800;
    }

/* GENERAL */
.menu-left {
    display: inline-flex;
    float: left;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 20px;
}

.menu-right {
    display: inline-flex;
    float: right !important;
}

    .menu-right ol {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        padding-right: 100px;
    }

    .menu-right ol li {
        display: block;
        padding: 0.5rem 1rem;
    }

    .menu-right ol li a {
        color: white;
        text-decoration: none;
    }

/*ICONOS*/
.icon-paw::before {
    content: "\f1b0";
    font-family: FontAwesome;
}
.icon-angle-down::before {
    content: "\f107";
    font-family: FontAwesome;
}

div {
    display: flex;
}

#banner {
    display: flow-root;
}
    #banner .main-image {
        background-image: url("../img/mainimage.png");
        width: 100%;
        height: 500px;
        background-repeat: no-repeat, no-repeat;
        background-position: left, right;
        background-size: cover;
        display: flow-root;
    }
        #banner .main-image .div-left {
            display: inline-flex;
            float: left;
        }
        #banner .main-image .div-right {
            display: inline-flex;
            float: right;
            text-align: center;
            flex-wrap: wrap;
        }
            #banner .main-image .div-right .div1 {
                margin-top: 20%;
                width: 80%;
                height: 60px;
                background-color: white;
                color: black;
                border-radius: 5px;
                justify-content: center;
                align-items: center;
            }
            #banner .main-image .div-right .div1 span {
                font-size: 40px;
                justify-content: center;
                align-items: center;
            }
            #banner .main-image .div-right .div2 {
                width: 80%;
                height: 40px;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-items: center;
                padding-bottom: 10px;
            }
            #banner .main-image .div-right .div2 span {
                font-size: 20px;
                font-weight: 700;
            }
            #banner .main-image .div-right .div3 {
                width: 80%;
                height: 40px;
                margin: 0;
                padding: 0;
                justify-content: center;
                align-items: center;
            }
            #banner .main-image .div-right .div3 button {
                background-color: #EAA731;
                color: white;
                border-width: 0;
                font-size: 20px;
                padding: 20px;
                border-radius: 5px;
            }

#productos{
    text-align: center;
}
    #productos div{
        display: block;
    }
    #productos #img1{
        width: 100px;
    }
    #productos h2{
        font-size: 60px; 
        font-weight: 700; 
        color: #3A2312;
    }
    #productos div h3{
        color: #666666; font-size: 20px;
    }
    #productos .list-products{
        display: flow-root;
    }
    #productos .list-products > div{
        padding-left: 10px;
        padding-right: 10px;
        display: inline-flex;
    }
        #productos .list-products > div > img{
            width: 100%;
            height: 100%;
        }
        #productos .list-products label.description {
            font-size: 18px;
            font-weight: 600;
            color: #3a2312;
        }
        #productos .list-products label.price {
            font-size: 18px;
            font-weight: 600;
            color: #eaa731;
        }

/* FOOTER */
.footer-1 {
    background-color: #eaa731;
    display: flow-root;
    color: white;
}
    .footer-1 .div-left {
        display: inline-flex;
        float: left;
        justify-content: center;
        align-content: center;
        align-items: center;
        padding: 20px;
    }

        .footer-1 .div-left a{
            color: #FFFFFF; 
            text-decoration: none; 
            font-size: 25px; 
            font-weight: 700;
        }

    .footer-1 .div-right {
        display: inline-flex;
        float: right !important;
    }

    

.footer-2 {
    background-color: #3a2312;
    color: white;
    width: 100%;
    height: 200px;
    display: flow-root;
}

    .footer-2 .div-left {
        display: inline-block;
        justify-content: center;
        align-content: center;
        align-items: center;
    }
        .footer-2 .div-left .div-list{
            display: flex;
        }
            .footer-2 .div-left .div-list .title{
                display: block;
                font-size: 20px;
                font-weight: 600px;
                width: 100%;
            }
            .footer-2 .div-left .div-list .description{
                width: 100%;
                display: block;
                color: #8A8787;
                font-size: 18px;
                font-weight: 100px;
            }

    .footer-2 .div-right{
        float: right;
        display: flex;
    }
        .footer-2 .div-right .logo-text1 {
            color: #ffffff;
            font-weight: 700;
            font-size: x-large;
        }

        .footer-2 .div-right .logo-text2 {
            color: #eaa731;
            font-weight: 700;
            font-size: x-large;
        }

.footer-3 {
    background-color: #eaa731; /*#222222;*/
    color: #ffffff;
    display: block;
    text-align: center;
    margin: 0;
    font-size: 20px;
}